.secrets

# Ignore everything in these folders
PAPERS/DOWNLOADED/*
PAPERS/SEED/*
SEED_PAPERS/*

# But don't ignore the .gitkeep files
!PAPERS/DOWNLOADED/.gitkeep
!PAPERS/SEED/.gitkeep
!SEED_PAPERS/.gitkeep

__my_variables__.py

# From minGPT
__pycache__/
.ipynb_checkpoints/
*.swp
.env
.pylintrc

# Environments
secrets.json
*.env.json
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Settings should be personal
.vscode/settings.json

# pyproject.toml
*.egg-info/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; __pypackages__
__pypackages__/
# pixi environments
.pixi/*
!.pixi/config.toml
